[Unit]
Description="Proxy Agent{% if service_name != 'proxy-agent' %} - {{ service_name }}{% endif %}"
After=network.target

[Service]
User=root
Group=root
Environment="RUST_LOG={{ log_level }}"
Environment="PROXY_WEB_CONFIG_LOCATION=/etc/{{ service_name }}/config.yaml"
ExecStartPre=/usr/bin/touch /var/log/{{ service_name }}.log
ExecStartPre=/bin/chown root:root /var/log/{{ service_name }}.log
ExecStart=/usr/sbin/{{ service_name }}
Nice=5
KillSignal=TERM
Restart=on-failure
RestartSec=30
TimeoutStopSec=60
StandardOutput=syslog
StandardError=syslog
PermissionsStartOnly=true
LimitNOFILE=262144

[Install]
WantedBy=multi-user.target